{% extends "core/base.html" %}
{% load static %}


{% block main %}


<div class="mega-menu-parent position-sticky top-0 d-xl-block d-none">
    <div class="container-fluid">
        <div class="header-top-menu">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="header-top-menu-right">
                        <div class="top-menu-menu">
                            <ul class="navbar-nav align-items-center">
                                <li class="position-relative m-0"></li>
                                <li class="nav-item main-menu-head"><a href=""
                                                                       class="nav-link header-top-menu-link-a  nav-active fw-bold"><i
                                        class="bi bi-list"></i>
                                    مگا تب منو
                                </a>
                                    <ul class="main-menu mega-container">
                                        <li class="main-menu-sub-active-li"><a href=""><i
                                                class="bi bi-phone"></i>
                                            موبایل</a>
                                            <ul class="main-menu-sub back-menu"
                                                style=" background: #fff url('{% static "/img/509-5092096_offering-high-quality-mobile-repair-service-main-image_prev_ui.png" %}') no-repeat;">
                                                <li><a class="title my-flex-baseline" href="">برند های مختلف
                                                    گوشی</a>
                                                </li>
                                                <li><a href="">گوشی اپل</a></li>
                                                <li><a href="">گوشی سامسونگ</a></li>
                                                <li><a href="">گوشی شیائومی</a></li>
                                                <li><a href="">گوشی بلک بری</a></li>
                                                <li><a href="">گوشی ایرانی</a></li>
                                                <li><a class="title my-flex-baseline" href="">گوشی بر اساس
                                                    قیمت</a></li>
                                                <li><a href="">گوشی تا 2 میلیون</a></li>
                                                <li><a href="">گوشی تا 5 میلیون</a></li>
                                                <li><a href="">گوشی تا 10 میلیون</a></li>
                                                <li><a href="">گوشی تا 12 میلیون</a></li>
                                                <li><a href="">گوشی تا 15 میلیون</a></li>
                                                <li><a class="title my-flex-baseline" href="">گوشی براساس حافظه
                                                    داخلی</a></li>
                                                <li><a href="">گوشی تا 16 گیگابایت</a></li>
                                                <li><a href="">گوشی تا 32 گیگابایت</a></li>
                                                <li><a href="">گوشی تا 64 گیگابایت</a></li>
                                                <li><a href="">گوشی تا 128 گیگابایت</a></li>
                                                <li><a href="">گوشی تا 256 گیگابایت</a></li>
                                                <li><a href="">گوشی تا 512 گیگابایت</a></li>
                                                <li><a href="">گوشی تا 1 ترابایت</a></li>
                                                <li><a class="title my-flex-baseline" href="">گوشی براساس
                                                    کاربری</a>
                                                </li>
                                                <li><a href="">گوشی اقتصادی</a></li>
                                                <li><a href="">گوشی دانش آموزی</a></li>
                                                <li><a href="">گوشی لاکچری</a></li>
                                                <li><a href="">گوشی پرچمدار</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=""><i class="bi bi-tablet"></i> تبلت</a>
                                            <ul class="main-menu-sub back-menu"
                                                style=" background: #fff url('{% static "/img/tablet-menu.png" %}') no-repeat;">
                                                <li><a class="title my-flex-baseline" href="">برند های مختلف
                                                    تبلت</a>
                                                </li>
                                                <li><a href="">تبلت اپل</a></li>
                                                <li><a href="">تبلت سامسونگ</a></li>
                                                <li><a href="">تبلت شیائومی</a></li>
                                                <li><a href="">تبلت بلک بری</a></li>
                                                <li><a href="">تبلت ایرانی</a></li>
                                                <li><a class="title my-flex-baseline" href="">تبلت بر اساس
                                                    قیمت</a></li>
                                                <li><a href="">تبلت تا 2 میلیون</a></li>
                                                <li><a href="">تبلت تا 5 میلیون</a></li>
                                                <li><a href="">تبلت تا 10 میلیون</a></li>
                                                <li><a href="">تبلت تا 12 میلیون</a></li>
                                                <li><a href="">تبلت تا 15 میلیون</a></li>
                                                <li><a class="title my-flex-baseline" href="">تبلت براساس حافظه
                                                    داخلی</a></li>
                                                <li><a href="">تبلت تا 16 گیگابایت</a></li>
                                                <li><a href="">تبلت تا 32 گیگابایت</a></li>
                                                <li><a href="">تبلت تا 64 گیگابایت</a></li>
                                                <li><a href="">تبلت تا 128 گیگابایت</a></li>
                                                <li><a href="">تبلت تا 256 گیگابایت</a></li>
                                                <li><a href="">تبلت تا 512 گیگابایت</a></li>
                                                <li><a href="">تبلت تا 1 ترابایت</a></li>
                                                <li><a class="title my-flex-baseline" href="">تبلت براساس
                                                    کاربری</a>
                                                </li>
                                                <li><a href="">گتبلتوشی اقتصادی</a></li>
                                                <li><a href="">تبلت دانش آموزی</a></li>
                                                <li><a href="">تبلت لاکچری</a></li>
                                                <li><a href="">تبلت پرچمدار</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=""><i class="bi bi-shield"></i>آنتی ویروس</a>
                                            <ul class="main-menu-sub back-menu"
                                                style=" background: #fff url('{% static "/img/EAV.png" %}') no-repeat;">
                                                <li><a class="title my-flex-baseline" href="">براساس برند</a>
                                                </li>
                                                <li><a href="">نود 32</a></li>
                                                <li><a href="">کسپر اسکای</a></li>
                                                <li><a href="">360 سکوریتی</a></li>
                                                <li><a href="">بیت دیفیندر</a></li>
                                                <li><a href="">ایمن</a></li>
                                                <li><a class="title my-flex-baseline" href="">براساس ویندوز</a>
                                                </li>
                                                <li><a href="">ویندوز 7</a></li>
                                                <li><a href="">ویندوز 8</a></li>
                                                <li><a href="">ویندوز 8.1</a></li>
                                                <li><a href="">ویندوز 10</a></li>
                                                <li><a href="">ویندوز 11</a></li>
                                                <li><a class="title my-flex-baseline" href="">براساس برند</a>
                                                </li>
                                                <li><a href="">نود 32</a></li>
                                                <li><a href="">کسپر اسکای</a></li>
                                                <li><a href="">360 سکوریتی</a></li>
                                                <li><a href="">بیت دیفیندر</a></li>
                                                <li><a href="">ایمن</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=""><i class="bi bi-laptop"></i>لبتاپ</a>
                                            <ul class="main-menu-sub back-menu"
                                                style=" background: #fff url('{% static "/img/labtop.png" %}') no-repeat;">
                                                <li><a class="title my-flex-baseline" href="">برند های مختلف
                                                    لبتاپ</a>
                                                </li>
                                                <li><a href="">لبتاپ اپل</a></li>
                                                <li><a href="">لبتاپ سامسونگ</a></li>
                                                <li><a href="">لبتاپ شیائومی</a></li>
                                                <li><a href="">لبتاپ بلک بری</a></li>
                                                <li><a href="">لبتاپ ایرانی</a></li>
                                                <li><a class="title my-flex-baseline" href="">لبتاپ بر اساس
                                                    قیمت</a>
                                                </li>
                                                <li><a href="">لبتاپ تا 2 میلیون</a></li>
                                                <li><a href="">لبتاپ تا 5 میلیون</a></li>
                                                <li><a href="">لبتاپ تا 10 میلیون</a></li>
                                                <li><a href="">لبتاپ تا 12 میلیون</a></li>
                                                <li><a href="">لبتاپ تا 15 میلیون</a></li>
                                                <li><a class="title my-flex-baseline" href="">لبتاپ براساس حافظه
                                                    داخلی</a></li>
                                                <li><a href="">لبتاپ تا 16 گیگابایت</a></li>
                                                <li><a href="">لبتاپ تا 32 گیگابایت</a></li>
                                                <li><a href="">لبتاپ تا 64 گیگابایت</a></li>
                                                <li><a href="">لبتاپ تا 128 گیگابایت</a></li>
                                                <li><a href="">لبتاپ تا 256 گیگابایت</a></li>
                                                <li><a href="">لبتاپ تا 512 گیگابایت</a></li>
                                                <li><a href="">لبتاپ تا 1 ترابایت</a></li>
                                                <li><a class="title my-flex-baseline" href="">لبتاپ براساس
                                                    کاربری</a>
                                                </li>
                                                <li><a href="">لبتاپ اقتصادی</a></li>
                                                <li><a href="">لبتاپ دانش آموزی</a></li>
                                                <li><a href="">لبتاپ لاکچری</a></li>
                                                <li><a href="">لبتاپ پرچمدار</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=""><i class="bi bi-tag"></i>پر فروش ترین ها</a>
                                            <ul class="main-menu-sub back-menu"
                                                style=" background: #fff url('/img/top-sales.jpeg') no-repeat;">
                                                <li><a class="title my-flex-baseline" href="">زیر منو شماره
                                                    1 </a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a class="title my-flex-baseline" href="">زیر منو شماره
                                                    1 </a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a class="title my-flex-baseline" href="">زیر منو شماره
                                                    1 </a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a class="title my-flex-baseline" href="">زیر منو شماره
                                                    1 </a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">زیر منو شماره 1</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="" class="nav-link header-top-menu-link-a  ">مگا
                                    لیست منو
                                    <i class="bi bi-tablet"></i></a>
                                    <ul class="list-unstyled shadow-lg back-menu sub-menu mega-container"
                                        style="background: #fff url('{% static "/img/mega-img-1.jpg" %}') no-repeat;background-size: 400px !important;">
                                        <li><a href="" class="title">بـرند</a></li>
                                        <li><a href="">سامـسونگ</a></li>
                                        <li><a href="">اپـل</a></li>
                                        <li><a href="">شیـائومی</a></li>
                                        <li><a href="">ال جی</a></li>
                                        <li><a href="">وان پـلاس</a></li>
                                        <li><a href="">جی ال ایـکس</a></li>
                                        <li><a href="">هـو آوی</a></li>
                                        <li><a href="">بلک بـری</a></li>
                                        <li><a href="">توشـیبا</a></li>
                                        <li><a href="">دایـناکورد</a></li>
                                        <li><a href="" class="title">براساس رده بندی </a>
                                        </li>
                                        <li><a href="">دکـمه ای</a></li>
                                        <li><a href="">لـمسـی</a></li>
                                        <li><a href="">نـظـامی</a></li>
                                        <li><a href="">ضـد آب</a></li>
                                        <li><a href="">مسـافرتی</a></li>
                                        <li><a href="">خـارنی</a></li>
                                        <li><a href="" class="title">براساس کشور </a></li>
                                        <li><a href="">ایران</a></li>
                                        <li><a href="">ژاپن</a></li>
                                        <li><a href="">فرانسه</a></li>
                                        <li><a href="">کره جنوبی</a></li>
                                        <li><a href="">آمریکا</a></li>
                                        <li><a href="">سوئد</a></li>
                                        <li><a href="">تایوان</a></li>
                                        <li><a href="" class="title">براساس رنگ</a></li>
                                        <li><a href="">قرمز</a></li>
                                        <li><a href="">قهوه ای</a></li>
                                        <li><a href="">سبز</a></li>
                                        <li><a href="">بنفش</a></li>
                                        <li><a href="">نارنجی</a></li>
                                        <li><a href="">نیلی</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="" class="nav-link  header-top-menu-link-a ">منو
                                    ساده<i class="bi bi-menu-app"></i></a>
                                    <ul class="level-one">
                                        <li><a href="">منو شماره 1</a></li>
                                        <li><a href="">منو شماره 2</a></li>
                                        <li class="position-relative"><a href="">منو شماره 3 <i
                                                class="bi bi-chevron-left"></i></a>
                                            <ul class="level-two">
                                                <li><a href="">زیر منو شماره 1</a></li>
                                                <li><a href="">2 زیر منو شماره </a></li>
                                                <li><a href="">3 زیر منو شماره </a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">منو شماره 4</a></li>
                                        <li><a href="">منو شماره 5</a></li>
                                        <li><a href="">منو شماره 6</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="" class="nav-link header-top-menu-link-a  ">
                                    تخفیف ها و پیشنهاد ها <i class="bi bi-tag"></i></a></li>
                                <li class="nav-item"><a href="" class="nav-link header-top-menu-link-a  ">سوالی
                                    دارید</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="header-top-menu-left">
                        <div class="row align-items-center">
                            <div class="col-6 d-lg-none d-xl-block d-block">
                                <div class="header-top-menu-link">
                                    <a href="header-top-menu-link-email" class="">admin@admin.com <i
                                            class="bi bi-envelope-check-fill"></i></a>
                                    <a href="header-top-menu-link-tel" class="">02112345678<i
                                            class="bi bi-telephone-inbound-fill"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="header-top-menu-socail">
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-youtube"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                    <a href=""><i class="bi bi-telegram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end mega menu -->


<!-- end header code -->

<!-- end header code -->


<!-- start content -->

<div class="content">
    <div class="container-fluid">
        <div class="page-404">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="image-404">
                        <img src="{% static "img/404.jpg" %}" width="500" alt="">
                    </div>
                    <div class="title-404">
                        <h2 class="text-center title-font">
                            صفحه مورد نظر شما را نتوانستیم پیدا کنیم
                        </h2>
                        <div class="text-center mt-3">
                            <a href="/product" class="btn main-color-one-outline rounded-pill px-4">رفتن به صفحه اصلی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<!-- end content -->


{% endblock main %}